.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    padding: 0 80px;
    margin: 120px 0;
}
.cart-section{
    background: #FFE0B3;
}
.cart-header{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
    text-align: center;
}